<div class="content--husky">
  <div class="husky mx-auto">

    <div class="husky-mane">
      <div class="husky-coat"></div>
    </div>

    <div class="husky-body">
      <div class="husky-head">
      <div class="husky-ear"></div>
      <div class="husky-ear"></div>
        <div class="husky-face">
          <div class="husky-eye"></div>
          <div class="husky-eye"></div>
          <div class="husky-nose"></div>
          <div class="husky-mouth">
            <div class="husky-lips"></div>
            <div class="husky-tongue"></div>
          </div>
        </div>
      </div>
      <div class="husky-torso"></div>
    </div>

    <div class="husky-legs">
      <div class="husky-front-legs">
        <div class="husky-leg"></div>
        <div class="husky-leg"></div>
      </div>
     <div class="husky-hind-leg"></div>
    </div>

    <div class="husky-tail">
      <div class="husky-tail">
        <div class="husky-tail">
          <div class="husky-tail">
            <div class="husky-tail">
              <div class="husky-tail">
              <div class="husky-tail"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
