<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
  <div class="container">
        <a class="navbar-brand" href="#">SPOT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item"[ngClass]="{active: activeRoute('starter')}">
              <a class="nav-link nav-link--text" [routerLink]="['/starterview']"><span class="nav-label">Home</span></a>
            </li>

            <li class="nav-item"[ngClass]="{active: activeRoute('dashboard')}">
              <a class="nav-link nav-link--text" [routerLink]="['/dashboards/dashboard']">Roster</a>
            </li>

            <li class="nav-item"[ngClass]="{active: activeRoute('hot')}">
              <a class="nav-link nav-link--text" [routerLink]="['/hot']">Discussion Forum</a>
            </li>

            <li class="nav-item"[ngClass]="{active: activeRoute('inbox')}">
              <a class="nav-link nav-link--text" [routerLink]="['/inbox']">Inbox</a>
            </li>

            <li class="nav-item" style="border-left: 1px solid #666;">
              <a class="nav-link nav-link--text nav-label" (click)="onNavigate()">Feedback</a>
            </li>

            <li class="nav-item" [ngClass]="{active: activeRoute('account')}" style="border-left: 1px solid #666;">
              <a class="nav-link nav-link--text nav-label" [routerLink]="['/account']">
                <i class="fa fa-key" aria-hidden="true"></i>
                Update Password
              </a>
            </li>

            <li class="nav-item"[ngClass]="{active: activeRoute('login')}" style="padding-left: 2rem; border-left: 1px solid #666;">
              <a class="nav-link btn navbar-toggle collapsed navbar-brand mt-2" [routerLink]="['/login']" style="color: #fff;">
                <i class="fa fa-sign-out" style="color: #fff;"></i> <span class="nav-label">Logout</span>
              </a>
            </li>
          </ul>
        </div>
  </div>
</nav>

