@import "https://cdn.quilljs.com/1.3.6/quill.snow.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" 

/* missing styling for stars*/

.acidjs-rating-stars,
.acidjs-rating-stars label::before {
  display: inline-block;
}

.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover~label {
  color: #189800;
}

.acidjs-rating-stars * {
  margin: 0;
  padding: 0;
}

.acidjs-rating-stars input {
  display: none;
}

.acidjs-rating-stars {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.acidjs-rating-stars label {
  color: #ccc;
}

.acidjs-rating-stars label::before {
  content: "\2605";
  width: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.acidjs-rating-stars input:checked~label {
  color: #ffff00;
}

.acidjs-rating-disabled {
  opacity: .50;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.modal-lg {
  height: 100vh;
}

.modal-body {
  height: 400px;
}

.my-quill {
  height: 230px;
}
