<div class="forum-item active" *ngFor="let forum of forumMessages">
  <forum-message [messageId]="forum.messageId"></forum-message>
    <div class="row">
      <div class="col-md-9">
        <div class="forum-icon">
          <i class="fa fa-user-circle"></i>
        </div>
        <div class="forum-sub-title">
          {{forum.title}}:{{forum.message}}
        </div>
      </div>

      <rating-forum-message [messageId]="forum.messageId" ></rating-forum-message>
    </div>

    <span *ngIf="forum.replies?.length>0">
        <forum-message [forumMessages]="forum.replies"></forum-message>
    </span>
</div>

<template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add a reply</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="post-title" class="form-control-label">Title</label>
      <input type="text" class="form-control" id="post-title" [(ngModel)]="title">
      <label for="post-title" class="form-control-label">Details</label>
      <input type="text" class="form-control" id="post-title" [(ngModel)]="content">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
      <button class="btn btn-primary" (click)="createPost(title,content);modalRef.hide()">Submit</button>
    </div>
  </div>
</template>
