<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <div class="content content--hot">
          <div class="main">
            <div class="group1">

              <a href="#">Question 1</a>
              <a href="#">Question 2</a>
              <a href="#">Question 3</a>
              <a href="#">Question 4</a>
              <a href="#">Question 5</a>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
