<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm" style="background: none; border: 0;">
                <div class="p-xs">
                  <h1 class="text-center">Discussion Forum</h1>
                  <h3 class="text-center">Have a discussion with your peers.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-7 col-centered">
                <div class="title-action">
                  <a class="btn btn-primary btn-lg" style="color: #fff;" (click)="openModal(template)">Post question</a>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-8 mx-auto">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search Title" [(ngModel)]="searchString">
                </div>
              </div>
            </div>
            <div id="tab" class="btn-toggle hot-tab" data-toggle="buttons-radio">
              <a class="btn active" (click)="getLatest()">Latest</a>
              <a class="btn" (click)="getMostCommented()">Most commented</a>
              <a class="btn" (click)="getMyQuestions()">My questions</a>
            </div>
              
            <div class="ibox-content forum-container">
              <div class="forum-title">
                <h3>What's hot</h3>
              </div>
              <div class="forum-item active" *ngFor="let forum of forumMessages|search:searchString" [routerLink]="['/forum',forum.messageId]" (click)="setForum(forum)">
                <div class="row">
                  <div class="col-md-7">
                    <div class="forum-icon">
                      <i class="fa fa-users"></i>
                    </div>
                    <a class="forum-item-title">{{forum.title}}</a>
                    <div class="forum-sub-title text-dark">{{forum.message}}</div>
                  </div>
                  <div class="col-md-5">
                    <div class="forum-sub-title pull-right">{{forum.timestamp|date}} by {{forum.nickname}}</div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Post a question</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="post-title" class="form-control-label">Subject:</label>
      <input type="text" class="form-control" id="post-title" [(ngModel)]="title">
      <label for="post-title" class="form-control-label">Message:</label>
      <textarea type="text" class="form-control" id="post-message" style="height: 100px" [(ngModel)]="content"></textarea>
    </div>
      
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
      <button class="btn btn-primary" (click)="createPost(title,content);modalRef.hide()">Submit</button>
    </div>
  </div>
</template>









