 /*TODO:
  Move over raw husky animation after verifying not used elsewhere
 */

.husky-neutral {
  display: inline-block;
  position: inherit;
  height: 23em;
  width: 21em;
  background: url('../../../assets/images/emotions/neutral_sprite.png') repeat-x center center;
  -webkit-background-size: cover;
  background-size: cover;
  animation: emote 10s steps(10) infinite;
}

 .husky-sad {
  display: inline-block;
  position: inherit;
  height: 25em;
  width: 19.4em;
  background: url('../../../assets/images/emotions/sad_sprite.png') repeat-x center center;
  -webkit-background-size: cover;
  background-size: cover;
  animation: emote 10s steps(10) infinite;
}

.husky-dead {
  display: inline-block;
  position: inherit;
  height: 15em;
  width: 25em;
  background: url('../../../assets/images/emotions/dead.png') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

@keyframes emote {
  from { background-position: 0px; }
  to { background-position: -7589px; }
}
