.husky-sad {
  display: inline-block;
  position: inherit;
  height: 15em;
  width: 11.6em;
  background: url('../../../assets/images/sprites/sad_sprite.png') repeat-x center center;
  -webkit-background-size: cover;
  background-size: cover;
  animation: weep 10s steps(10) infinite;
}

@keyframes weep {
  from { background-position: 0px; }
  to { background-position: -7589px; }
}
