<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <ul>
          <li *ngFor="let user of users">{{user.nickname}}
          </li>
      </ul>
    </div>
  </div>
</div>


<div class="container clearfix animated fadeInRight">

      <div class="row">
        
        <div class="col-lg-12">
          <h1 class="mt-5">Inbox</h1>
        </div>

      </div>

      <div class="row mt-5">

      </div>

  <div class="row">

    <div class="col-12 col-md-12 col-lg-4 people-list" id="people-list" style="background: #444753;">

      <div class="controls">
        <button type="button" class="btn btn-primary">
          New Message <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>

      <ul class="list">
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Vincent Porter</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Aiden Chavez</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> offline
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Mike Thomas</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Erica Hughes</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Ginger Johnston</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Tracy Carpenter</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> offline
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Christian Kelly</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> offline
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Monica Ward</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Dean Henry</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> offline 
            </div>
          </div>
          </a>
        </li>
        
        <li class="clearfix">
        <a href="#">
          <img src="assets/images/dog.png" alt="avatar" />
          <div class="about">
            <div class="name">Peyton Mckinney</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="col-12 col-md-12 col-lg-8 chat">
      <div class="chat-header clearfix">
        <img src="assets/images/dog.png" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with">Chat with Vincent Porter</div>
          <div class="chat-num-messages"></div>
        </div>
      </div> 
      
      <div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Harry</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              Hi Vincent, how are you? How is the project coming along?
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Are we meeting today? Project has been already finished and I have results to show you.
            </div>
          </li>
          
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Harry</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">10:20 AM, Today</span>
            </div>
            <div class="message my-message">
              Actually everything was fine. I'm very excited to show this to our team.
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">10:31 AM, Today</span>
            </div>
            <i class="fa fa-circle online"></i>
            <i class="fa fa-circle online" style="color: #AED2A6"></i>
            <i class="fa fa-circle online" style="color:#DAE9DA"></i>
          </li>
          
        </ul>
        
      </div> 
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        
        <button>Send</button>

      </div>
      
    </div> 
  </div>
</div>