<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <div class="main">
          <div class="content content--inbox">
            <div class="chatbox">
              <div class="chatlogs">
                <div class="chat friend">
                  <div class="user-photo"><img src="assets/images/dog.png"></div>
                  <p class="chat-message">TEXT</p>
                </div>
                <div class="chat self">
                  <div class="user-photo"><img src="assets/images/dog.png"></div>
                  <p class="chat-message">TEXT</p>
                </div>
                <div class="chat friend">
                  <div class="user-photo"><img src="assets/images/dog.png"></div>
                  <p class="chat-message">TEXT</p>
                </div>
                <div class="chat self">
                  <div class="user-photo"><img src="assets/images/dog.png"></div>
                  <p class="chat-message">TEXT</p>
                </div>

                <div class="chat-form">
                  <textarea></textarea>
                  <button>send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
