<div class="profile-rating">

  <div [ngClass]="'acidjs-rating-stars acidjs-rating-disabled'">
    <form #form="ngForm">
      <input type="radio" name="group-{{messageId}}" [value]="5" [attr.id]="'group-5-'+ messageId" [ngModel]="rate" />
      <label for="group-5-{{messageId}}"></label>

      <input type="radio" name="group-{{messageId}}" [value]="4" [attr.id]="'group-4-'+ messageId" [ngModel]="rate" />
      <label for="group-4-{{messageId}}"></label>

      <input type="radio" name="group-{{messageId}}" [value]="3" [attr.id]="'group-3-'+ messageId" [ngModel]="rate" />
      <label for="group-3-{{messageId}}"></label>

      <input type="radio" name="group-{{messageId}}" [value]="2" [attr.id]="'group-2-'+ messageId" [ngModel]="rate"  />
      <label for="group-2-{{messageId}}"></label>

      <input type="radio" name="group-{{messageId}}" [value]="1" [attr.id]="'group-1-' + messageId" [ngModel]="rate"  />
      <label for="group-1-{{messageId}}"></label>
    </form>
  </div>

  <button [attr.id]="'rate-minus'" tooltip="-1 for item's overall score" placement="bottom" (click)="decrementHelpfulness()"><span class="oi oi-minus"></span></button>
  <button [attr.id]="'rate-plus'" tooltip="+1 for item's overall score" placement="bottom" (click)="incrementHelpfulness()"><span class="oi oi-plus"></span></button>
</div>
