<div class="container animated fadeInRight">
  <div class="row mt-5">

  <div class="current col-6" *ngFor="let user of currentUser">

      <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title pt-3" style="color: #000;" >{{user.nickname}} </h2>


              <div class="content--husky">
                <div class="husky mx-auto">
                  <div class="husky-mane">
                    <div class="husky-coat"></div>
                  </div>
                  <div class="husky-body">
                    <div class="husky-head">
                      <div class="husky-ear"></div>
                      <div class="husky-ear"></div>
                      <div class="husky-face">
                        <div class="husky-eye"></div>
                        <div class="husky-eye"></div>
                        <div class="husky-nose"></div>
                        <div class="husky-mouth">
                          <div class="husky-lips"></div>
                          <div class="husky-tongue"></div>
                        </div>
                      </div>
                    </div>
                    <div class="husky-torso"></div>
                  </div>
                  <div class="husky-legs">
                    <div class="husky-front-legs">
                      <div class="husky-leg"></div>
                      <div class="husky-leg"></div>
                    </div>
                    <div class="husky-hind-leg">
                    </div>
                  </div>
                  <div class="husky-tail">
                    <div class="husky-tail">
                      <div class="husky-tail">
                        <div class="husky-tail">
                          <div class="husky-tail">
                            <div class="husky-tail">
                              <div class="husky-tail"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              
              <div class="row justify-content-center">
                <div class="col-9">
                  <p class="text-left mb-2">Current {{user.averageRating}} </p>
                  <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>

                  <p class="text-left mb-2">Overall {{user.averageScore}}</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                  </div>
                </div>  
              </div>

          </div> <!-- card body -->
      </div> <!-- card -->
  



  </div> <!-- current -->


  <div class="col-lg-6">
      <div class="">
            <nav class="codrops-demos">
              <a *ngFor="let user of users"
							class="dog1">
                <div class="dog1-photo" (click)="switchUser(user.userId)"><img src="assets/images/dog.png"></div>
                <div class="dog1-help"><img src="assets/images/help.png"></div>
                <div class="dog1-name" (click)="switchUser(user.userId)">
                  <h2>{{user.nickname}}({{user.averageRating}})({{user.averageScore}})</h2>
                </div>
                <div class="dog1-message" ><img src="assets/images/chat.png">
                </div>
                <div class="dog1-rating">
                  <div class="acidjs-rating-stars acidjs-rating-disabled">
                    <form>
                      <input disabled="disabled" type="radio" name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label>
                      <input disabled="disabled" type="radio" checked="checked" name="group-3" id="group-3-1" value="4" />
                      <label for="group-3-1"></label>

                      <input disabled="disabled" type="radio" name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label>

                      <input disabled="disabled" type="radio" name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label>

                      <input disabled="disabled" type="radio" name="group-3" id="group-3-4" value="1" /><label for="group-3-4"></label>
                    </form>
                  </div>
                </div>
                <div class="dog1-health">
                  <div class="w3-green" style="height:15px;width:100%"></div>
                </div><br>
              </a>
            </nav>
      </div>
  </div>

  </div>
</div>

