<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <div class="content content--dashboard">
				<div class="main">
                      <div class="group1">
								
									<a class="dog1" href="#">
                                    <div class="dog1-photo"><img src="assets/images/dog.png"></div>
                                    <div class="dog1-help"><img src="assets/images/help.png"></div>
                                    <div class="dog1-name"><h2>Boe</h2></div>
                                    <div class="dog1-message" href="#"><img src="assets/images/chat.png">                                    
                                    </div> 
                                        <div class="dog1-rating">
                                    <div class="acidjs-rating-stars acidjs-rating-disabled">
    <form>
        <input disabled="disabled" type="radio" name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" checked="checked" name="group-3" id="group-3-1" value="4" /><label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-4"  value="1" /><label for="group-3-4"></label>
    </form>
</div>
                                        </div>
                                    <div class="dog1-health">
                                    <div class="w3-green" style="height:15px;width:100%"></div>
                                        </div><br>
                                    
                                    </a>
									<a class="dog2" href="#">
                                    <div class="dog2-photo"><img src="assets/images/dog.png"></div>
                                    <div class="dog2-help"><img src="assets/images/help.png"></div>
                                    <div class="dog2-name"><h2>Dog2</h2></div>
                                    <div class="dog2-message" href="#"><img src="assets/images/chat.png">                                    
                                    </div> 
                                        <div class="dog2-rating">
                                    <div class="acidjs-rating-stars acidjs-rating-disabled">
    <form>
        <input disabled="disabled" type="radio" name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" checked="checked" name="group-3" id="group-3-1" value="4" /><label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-4"  value="1" /><label for="group-3-4"></label>
    </form>
</div>
                                        </div>
                                    <div class="dog2-health">
                                    <div class="w3-green" style="height:15px;width:80%"></div>
                                        </div><br></a>
                                    
									<a class="dog3" href="#">
                                    <div class="dog3-photo"><img src="assets/images/dog.png"></div>
                                    <div class="dog3-help"><img src="assets/images/help.png"></div>
                                    <div class="dog3-name"><h2>Dog3</h2></div>
                                    <div class="dog3-message" href="#"><img src="assets/images/chat.png">                                    
                                    </div> 
                                        <div class="dog3-rating">
                                    <div class="acidjs-rating-stars acidjs-rating-disabled">
    <form>
        <input disabled="disabled" type="radio" name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" checked="checked" name="group-3" id="group-3-1" value="4" /><label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-4"  value="1" /><label for="group-3-4"></label>
    </form>
</div>
                                        </div>
                                    <div class="dog3-health">
                                    <div class="w3-green" style="height:15px;width:70%"></div>
                                        </div><br></a>
                                    
                                    <a class="dog4" href="#">
                                    <div class="dog4-photo"><img src="assets/images/dog.png"></div>
                                    <div class="dog4-help"><img src="assets/images/help.png"></div>
                                    <div class="dog4-name"><h2>Dog4</h2></div>
                                    <div class="dog4-message" href="#"><img src="assets/images/chat.png">                                    
                                    </div> 
                                        <div class="dog4-rating">
                                    <div class="acidjs-rating-stars acidjs-rating-disabled">
    <form>
        <input disabled="disabled" type="radio" name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label><!--
        --><input disabled="disabled" type="radio" checked="checked" name="group-3" id="group-3-1" value="4" /><label for="group-3-1"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label><!--
        --><input disabled="disabled" type="radio" name="group-3" id="group-3-4"  value="1" /><label for="group-3-4"></label>
    </form>
</div>
                                        </div>
                                    <div class="dog4-health">
                                    <div class="w3-green" style="height:15px;width:70%"></div>
                                        </div><br></a>              
							</div>
                      

                                 
			</div><!-- /content -->
            </div>
        </div>
    </div>
</div>
