// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "imports/variables";
@import "imports/mixins";

@import "imports/typography";
@import "imports/navigation";
@import "imports/top_navigation";
@import "imports/buttons";
@import "imports/badges_labels";
@import "imports/elements";
@import "imports/sidebar";
@import "imports/base";
@import "imports/pages";
@import "imports/chat";
@import "imports/metismenu";
@import "imports/spinners";

// Landing page styles
@import "imports/landing";

// RTL Support
@import "imports/rtl";

// For demo only - config box style
@import "imports/theme-config";

@import "imports/skins";
@import "imports/md-skin";

// Media query style
@import "imports/media";

// Custom style
// Your custom style to override base style
@import "imports/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

div#page-wrapper{
	margin: 0;
	min-height: 100vh;
	padding: 0;
  padding-top: 3.5rem;
  padding-bottom: 8.5rem;
}

div.course-wrapper{
  padding: 1rem;
}

#wrapper{ overflow-y: hidden; }

// Front Page

.profile{
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    a.chat-bubble{
      position: absolute;
      color: rgba(0, 0, 0, 0.125);
      right: 10px;
      font-size: 1.33rem;
      z-index: 10;
    }

}

.profile-img {
  img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
}


.leaderboard {
    overflow: scroll;
    height: 522px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1px;
}


@media (min-width: 576px){
  .fullscreen .modal-dialog {
      max-width: none;
      margin: 0;
  }
}


.fullscreen {
  .modal-dialog {
      max-width: none;
      margin: 0;
      height: 100vh;
  }
  .modal-content{
      height: 100%;
      min-height: 100%;
      border-radius: 0;
      color: #333;
      background: rgba(255, 255, 255, 0.97);
      overflow:auto;
  }
}
.controls{
  text-align: center;
  padding: 1rem;
}
.pwd{
  padding: 2rem;
  button{ margin-top: 1rem !important; }
}
.chat-frame{ max-height: 75vh;}

.chat {
  li {
      border-bottom: 0;
      
  }
  textarea{
      background: #f2f5f8;
  }
  .chat-header{
    img{
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
  }
  .chat-history{ height: 52vh !important; }
  .chat-message{
    padding: 1.5rem;
    background: #e6e6e6;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.people-list {
  img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  li a{ padding: 0.75rem 0.5rem; border-radius: 4px;}
}
a.currentMessage{ background: #645E9D; }

.footer{
  background: #fff !important;
}

body.modal-open{

  .modal-backdrop.fade.in {
    opacity: 0.5 !important;
  }

  .modal.fade.in {
    opacity: 1 !important;
  }

  .modal.fade .modal-dialog {
    transform: translate(0, 50%) !important;
  }

}

.hot-tab{
    background: #fff;
    padding: 2rem;
    margin-top: 1rem;
    text-align: center;
    a{ color: #000 !important; }
}

a.nav-link.nav-link--text {
    font-size: 1rem;
    line-height: 2.25;
}
a.nav-link.nav-link--icon {
    font-size: 1.5rem;
}

.help {
    position: absolute !important;
    right: -8px;
    bottom: -10px;
    img{
      width: 45px;
      height: 45px;
    }
}
#question{
  button{
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 2rem !important;
    border-radius: 4px !important;
    line-height: 3;
    border: 0;
  }
  i{
    font-size: 1.5rem;
    /* line-height: 2; */
    margin-left: 0.5rem;
    /* margin-top: 0.5rem; */
  }
}
#password{
  a.btn-danger{
    display: block;
    padding: 2rem !important;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    i{
      font-size: 1.5rem;
      margin-left: 0.5rem
    }
  }
}
